@using EventApp.ViewComponents.Home
@{
    ViewData["Title"] = "Home Page";
}

<!-- banner section -->
@await Component.InvokeAsync(nameof(SliderComponent))
<!-- //banner section -->
<!-- about section -->
<section class="w3l-about py-5" id="about">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row align-items-center">
            <div class="col-lg-6 section-width pe-xl-5 pt-lg-4">
                <h3 class="title-style">Welcome to <span>EventApp</span></h3>
                <p class="mt-4">
                    At corrupti odit At iure facere,
                    porro repellat officia quas, dolores magnam assumenda soluta odit
                    harum maiores fugiat accusamus eos nulla. Iure voluptatibus explicabo
                    officia.
                </p>
                <p class="mt-4 pb-dm-3">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, corrupti
                    odit? At iure facere,
                    porro repellat officia quas, dolores magnam assumenda soluta odit
                    harum.
                </p>
                <a href="about.html" class="btn btn-style mt-5"> Know more about us</a>
            </div>
            <div class="col-lg-6 history-info mt-lg-0 mt-5 pt-md-4 pt-2">
                <div class="position-relative img-border">
                    <img src="~/Musical-Starter/assets/images/about.jpg" class="img-fluid radius-image" alt="video-popup">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about section -->

<!-- subscribe form section -->
<section class="w3l-forms-9 pt-5 pb-lg-4" id="newsletter">
    <div class="container">
        <div class="main-midd text-center mx-auto" style="max-width:700px;">
            <h3 class="title-style mb-2">Subscribe to our daily <span>updates!</span></h3>
            <p class="">Enter your email address to register to our newsletter</p>

            <div class="main-midd-2 mt-md-5 mt-4 mx-auto" style="max-width:600px;">
                <form action="#url" method="GET" class="d-sm-flex rightside-form">
                    <input type="email" class="form-control" name="email" placeholder="Enter your email">
                    <button class="btn btn-style" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- //subscribe form section -->
<!-- button with content section -->
<section class="w3l-button-sec py-5">
    <div class="container py-5">
        <div class="w3-midhny-sec p-5">
            <div class="row align-items-center p-md-4">
                <div class="col-xl-8 col-lg-9">
                    <div class="title-content-two pe-lg-5">
                        <h3 class="title-w3l mb-md-1 mb-4 d-md-flex align-items-center">
                            Contact Us Now!
                            <a class="mt-md-0 mt-2" href="tel:+ 12 123 456 789">+ 12 123 456 789</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 mt-lg-0 mt-sm-5 mt-4 text-lg-end">
                    <a href="about.html" class="btn btn-style ">Contact Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //button with content section -->
