@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


<section class="py-5">

    <div class="container py-lg-5 py-md-5 py-1 my-5">
        <div class="row align-items-center">
            <h1>Manage your account</h1>

            <div>
                <h2>Change your account settings</h2>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <partial name="_ManageNav" />
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
