@using Application.CQRS.DTOs.Admin
@model EventDetailDto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">

    <div class="card-body">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Create Event</div>
            </div>
            <div class="ibox-body">
                <form asp-area="Admin" asp-controller="Event" asp-action="Create">

                    <div class="form-group">
                        <label>Category</label>
                        <select class="form-control select2-close-mask" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.categories,"Id","Name"))" style="width: 100%;padding:2px">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <select class="form-control select2-close-mask" asp-for="CityId" asp-items="@ViewBag.cities">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" asp-for="Title">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" asp-for="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input class="form-control" asp-for="Image">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <input class="form-control" asp-for="Adress">
                        <span asp-validation-for="Adress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Capacity</label>
                        <input class="form-control" asp-for="Capacity">
                        <span asp-validation-for="Capacity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Ticket Needed</label>
                        <input class="form-control" asp-for="TicketNeeded">
                        <span asp-validation-for="TicketNeeded" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input class="form-control" asp-for="Price">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Event Date</label>
                        <input class="form-control" asp-for="EventDate">
                        <span asp-validation-for="EventDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Application Deadline</label>
                        <input class="form-control" asp-for="ApplicationDeadline">
                        <span asp-validation-for="ApplicationDeadline" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <input class="form-control" asp-for="Status">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Create</button>
                        <a asp-area="Admin" asp-controller="Event" asp-action="Index" class="btn btn-secondary">
                            Back
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer">
    </div>

</section>

@section Scripts {

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    }

