<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - EventApp</title>
<!-- Google fonts -->
@*<link rel="stylesheet" href=//fonts.googleapis.com/css2?family =Londrina+Outline&display =swap">*@
<!-- Template CSS Style link -->
<link rel="stylesheet" href="~/Musical-Starter/assets/css/style-starter.css">