<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="/Views/LayoutPartial/_HeaderPartial.cshtml" />
</head>
<body>
    <!-- top header -->
    <partial name="/Views/LayoutPartial/_TopHeaderPartial.cshtml" />
    <!-- //top header -->
    <!-- header -->
    <partial name="/Views/LayoutPartial/_NavbarPartial.cshtml" />
    <!-- //header -->
    
        
            @RenderBody()
        
 
    <!-- footer -->
    <partial name="/Views/LayoutPartial/_FooterPartial.cshtml" />
    <!-- //footer -->
    <!-- Js scripts -->
    <partial name="/Views/LayoutPartial/_ScriptsPartial.cshtml" />

    <!-- //Js scripts -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
